*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-section{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.2fr 1fr 1fr;
}
.sideBar{
    background-color: rgb(25,146,212);
    color: white;
    font-weight: 700;
    font-size:16px ;
    width: 220px;
    height: 610px;
    grid-row-start: 1;
    grid-row-end: 5;
     
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
    list-style-type: none;
    margin-left: 50px;
    margin-top: 2rem;

}
.logo-dash{
    width: 40px;
    filter: brightness(10.75);
    margin-top: 1rem;
   
}
.logo{
    width: 20px;
    margin-right: 20px;   
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    grid-column-start: 2;
    grid-column-end: -1;
   
    padding: 2rem;
   
}
.bottom-header{
    display: flex;
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 2;
    padding: 1rem;
    justify-content: space-between;
    height: 80px;
    box-shadow: -1px 8px 5px -9px rgba(0,0,0,0.75);
  
}
.bottom-header-continer{
    display: flex;
    gap: 1rem;

}   
.user{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.search{
  width: 30px;
    
}
.searchBar{
    display: flex ;
    gap: 0.5rem;
   
}

.input{
    border-radius: 20px;
    width: 700px;
    height: 30px;
  
}

.bell{
    width: 30px;
    height: 30px;
}
.cat{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.cat-main{
    border-radius: 50%;
    width: 50px;
    height: 50px; 
}
button{
    border-radius: 20px;
    background-color:  rgb(25,146,212);
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    width: 100px;
    height: 40px;
    }